<?xml version="1.0" encoding="UTF-8" standalone="no"?><suite name="All Test Suite">
    <listeners>

    </listeners>
    <parameter name="date" value="Tue, 27 Dec 2022 11:13:40 GMT"/>

    <test name="WebTestCases" parallel="classes" preserve-order="true" thread-count="1" verbose="10">

        <classes>

            <class name="applitools.TestTableSortArtistAppliTools"/>
<!--            <class name="applitools.TestTableSortCategoryAppliTools"/>-->
<!--            <class name="applitools.TestTableSortNameAppliTools"/>-->
        </classes>
    </test>

</suite>